  <ion-view>
    <ion-content overflow-scroll="false" id="load_rprt" scroll="false">
      <div class="loadreport_topSec bg_Lavender PDG10PX">
       <div class="textalghn_center position_relative loadreprt_rpticn">
        <ul id="status_icons">
          <li><img src="img/package_icon_xsm.png"/><span>{{vm.packagesInCustody}}x</span></li>
          <li><img src="img/scan_icon_xsm.png"/><span>{{vm.scannedPackages}}x</span></li>
          <li><img src="img/not_scanned_icon_xsm.png"/><span>{{vm.notScannedPackages}}x</span></li>
          <li><img src="img/not_assigned_icon_xsm.png"/><span>{{vm.notAssignedPackage}}x</span></li>
        </ul>
      </div>
      <div class="counter cntr_txt">
        <div class="cntr_Circl">
          <div class="circle-text round_brdr borderradius_50"><div>{{vm.loadedItemCount}}</div></div>
        </div>
      </div>  
    </div>
    <hr class="hr_topline"/>
    <hr class="hr_bottomline ">
    <div class="top_dots textalghn_center"><span></span><span></span><span></span></div>
    <div class="mrgtp_2px cntr_txt font16 fontbold font28px ">LOAD REPORT</div>
    <div class="theroot barcde_sec wdth100p scroll_y" >
      <ul id="ldrprt_list" class="fontbold loadrprt">
       <li ng-repeat="barcode in  vm.loadedBarcodesBind track by $index"><div ng-show="vm.getBarcodeStatus(barcode)" class="cntr_txt"><img class="loadrprt_img" src="img/signature_req_icon_xsm.png"/></div>
         <div ng-show="!vm.getBarcodeStatus(barcode)" class="cntr_txt"><img class="loadrprt_img" src="img/not_assigned_icon_xsm.png"/></div> 
         <p class="font16 font28px load_textmargin">{{barcode}}</p> </li>
       </ul>    
     </div>
  </ion-content>
  <ion-footer-bar class="padding_0 brdrtop_white">
    <button class="button button-full btn_loadscan wdth_50 bg_color_denimblue font15 text_white mrg_2px bar-positive mrg_0px" ng-click="vm.loadScan()">
      Scan
    </button>
    <button class="button button-full btn_checkout wdth_50 bg_darkblue  text_white mrg_2px bar-positive mrg_0px" ng-click="vm.checkOut()">
      Out for Delivery
    </button>
  </ion-footer-bar>
</ion-view>