<section class="wagon_wheel">
   <div class="_wheel">
      <div class="">
         <div class="nav">
            <span class="left loadLeft" ng-click="vm.loadRight()"><i></i></span>
            <span class="right loadRight" ng-click="vm.loadLeft()"><i></i></span>
         </div>
         <div class="dialer">
            <div class="dialer_wrapper">
               <div id="loadAction" class="container loadcont first">
                  <div id="l_load" class="boxshadow elt one active" ng-click="vm.loadScanAction()" on-drag-right="vm.onSwipeLoadRightFirstButton()" on-drag-left="vm.onSwipeLoadLeftFirstButton()" on-swipe="vm.onSwipeLoadFirstButton()" on-touch="vm.onSwipeLoadFirstButton()">
                    <img src="img/load_scan_icon_xsm_en.png">
                    <p>Load Scan</p>
                 </div>
                 <div id="load_manifest" ng-click="vm.manifest()" class="elt two active" on-drag-right="vm.onSwipeLoadRightSecondButton()" on-drag-left="vm.onSwipeLoadLeftSecondButton()" on-swipe="vm.onSwipeLoadSecondButton()" on-touch="vm.onSwipeLoadSecondButton()">  
                    <img src="img/manifest_wheel_icon_xsm.png">
                    <p>Back to Manifest</p>
                 </div>
                 <div id="load_location" ng-click="vm.load_location()" class="elt seven active" on-drag-right="vm.onSwipeLoadRightSeventhButton()" on-drag-left="vm.onSwipeLoadLeftSeventhButton()" on-swipe="vm.onSwipeLoadSeventhButton()" on-touch="vm.onSwipeLoadSeventhButton()">
                    <img src="img/location_scan_icon_xsm.png">
                    <p>Location Scan</p>
                 </div>	   
              </div>
           </div>
        </div>	
     </div>
  </div>
</section>