<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bg_color_red" on-swipe-down="vm.onSwipeDown()" on-swipe-up="vm.onSwipeUp()">
      <ion-nav-buttons side="left" >
        <button id="picklemenuicon" class="button button-icon button-clear" menu-toggle="left" ng-click="vm.hideMenuIcon()" ng-hide="vm.hideMenuIcons" > 
          <img src="img/pickle_menu_icon_xsm.png" class="width_50p"/> 
        </button>
          <img src="img/logo.jpg" class="headermenuimg "> 
      </ion-nav-buttons> 
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" width='225' class="font_Futura">
    <ion-header-bar class="bar-stable bg_color_red">  
      <button class="button button-icon button-clear" menu-toggle="left" ng-click="vm.hideMenuIcon()" ng-show="vm.hideMenuIcons"> 
          <img src="img/pickle_menu_icon_xsm.png" class="width_50p"/> 
      </button>
      <img src="img/logo.jpg" class="headersidemenu"></div>
    </ion-header-bar>
    <ion-content class="menubg_color" overflow-scroll="false">
      <ion-list>       
        <ion-item menu-close  href="#" class="bordernone menubg_color top_10px" ng-click="vm.manifestRouting()">
          <img src="img/package_icon_xsm.png" class="menuimg" /> <span class="sidemenutext">Manifest</span>
        </ion-item>
        <ion-item menu-close href="#/app/scan" class="bordernone menubg_color top_10px" ng-click="vm.hideMenuIcon()">
           <img src="img/scan_icon.png" class="menuimg" /> <span class="sidemenutext">Scan</span>
        </ion-item>
        <ion-item menu-close href="#" class="bordernone menubg_color top_10px" ng-click="vm.onSwipeDown()">
            <img src="img/status_menu_icon_xsm.png" class="menuimg" /> <span class="sidemenutext">Status</span>
        </ion-item> 
        <ion-item menu-close href="#" class="bordernone menubg_color top_10px" ng-click="vm.help()">
            <img src="img/help_icon.png" class="menuimg" /> <span class="sidemenutext">Help</span>
        </ion-item>       
      </ion-list>
      <ion-list class="botomlist"> 
        <ion-item menu-close  href="#/app/preferences" class="bordernone menubg_color menubackgorund1 top_10px" ng-click="vm.hideMenuIcon()">
          <span class="sidemenutext text_white">Preferences</span>
        </ion-item>
        <ion-item menu-close href="#/app/networkCheck" class="bordernone menubg_color menubackgorund2 top_10px" ng-click="vm.hideMenuIcon()">
          <span class="sidemenutext text_white">Network Check</span>
        </ion-item>
        <ion-item menu-close href="#" ng-click="vm.refreshManifest()" class="bordernone menubg_color menubackgorund2 top_10px">
            <span class="sidemenutext text_white">Refresh Manifest</span>
        </ion-item>
        <ion-item menu-close href="" ng-click="vm.logOut()" class="bordernone menubg_color menubackgorund3 " ng-click="vm.hideMenuIcon()">
            <span class="sidemenutext text_white">Log Out</span>
        </ion-item>               
      </ion-list>
    </ion-content>
  </ion-side-menu>  
</ion-side-menus>
