<ion-view>
  <ion-content overflow-scroll="false">
    <div class="card list">
      <div class="item item-divider">
        Device
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-33 padding_0 ">
            <ion-label class="pdngtpbtm_5px">AppVersion</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.appVersion}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0 ">
            <ion-label class="pdngtpbtm_5px">Platform</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.platform}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0 ">
            <ion-label class="pdngtpbtm_5px">Version</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.version}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">UUID</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.uuid}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Cordova</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.cordova}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Model</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.model}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Last Synced</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.syncStats.lastSynced}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Sync Progress</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.syncStats.syncInProgress}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Pending Events</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px wdth_100">{{vm.eventsCount}}&nbsp;&nbsp;
              <button class="ion-loop" ng-click="vm.refreshPendingEvents()"></button>&nbsp;
              <!--<button ng-if="vm.deleteIcon" class="ion-trash-b" ng-click="vm.deletePendingEvents()"></button>-->
            </ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">PE Data Count</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px wdth_100">{{vm.eventsCountD}}
            </ion-label>
          </div>
        </div>
        <div class="row">
          <button class="button bg_color_denimblue position_relative font15 dump_btn text_white" ng-click="vm.sendEvents()">
            Push Events
          </button>
          <button class="button button-assertive position_relative font15 dump_btn" ng-click="vm.sendJsonDump()">
            Send Data
          </button>
        </div>
      </div>
    </div>
    <div class="card list">
      <div class="item item-divider">
        Navigator
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Status</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.conStatus}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">MFP Server Status</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.mfpStatus}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Connection</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.network}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Ip</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.ipadd}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Latitude</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.latitude}}</ion-label>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 padding_0">
            <ion-label class="pdngtpbtm_5px">Longitude</ion-label>
          </div>
          <div class="col col-67 padding_0 font-weight700">
            <ion-label class="pdngtpbtm_5px">{{vm.longitude}}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>