<section class="wagon_wheel">
	<div class="_wheel">
		 <div class="">
			<div class="nav">
				<span class="left pickupLeft" ng-click="vm.pickupRight()"><i></i></span>
				<span class="right pickupRight" ng-click="vm.pickupLeft()"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="pickupAction" class="container pickupcont first">
					    <div id="p_pickup" class="boxshadow elt one active" ng-click="vm.pickupScanAction()" on-drag-right="vm.onSwipePickupRightFirstButton()" on-drag-left="vm.onSwipePickupLeftFirstButton()" on-swipe="vm.onSwipePickupFirstButton()" on-touch="vm.onSwipePickupFirstButton()">
					    	<img src="img/pup_scan_icon_xsm_en.png">
					    	<p>Pickup Scan</p>
					    </div>
					    <div id="pickup_clear" ng-click="vm.pickup_clear()" class="elt two active" on-drag-right="vm.onSwipePickupRightSecondButton()" on-drag-left="vm.onSwipePickupLeftSecondButton()" on-swipe="vm.onSwipePickupSecondButton()" on-touch="vm.onSwipePickupSecondButton()">				    	
					    	<img src="img/clear_scan_icon_xsm.png">
					    	<p>Clear Scan</p>
					    </div>
					    <div id="pickup_manifest" ng-click="vm.manifest()" class="elt seven active" on-drag-right="vm.onSwipePickupRightSeventhButton()" on-drag-left="vm.onSwipePickupLeftSeventhButton()" on-swipe="vm.onSwipePickupSeventhButton()" on-touch="vm.onSwipePickupSeventhButton()">
					    	<img src="img/manifest_wheel_icon_xsm.png">
					    	<p>Back to Manifest</p>
					    </div>						    
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>