<ion-view >
  <ion-content scroll="false">
    <div id="mapload" class="mapSec fltleft" ng-show="vm.googleMapLoad"></div> 
    <img src="img/google_maps.jpg" class="map_wdth fltleft" ng-hide="vm.googleMapLoad"></img>
    <div class="green_btn">
      <button class="button button-full btn detail_gmaplog bg_pigmentgreen min_height44px mrg_0px" ng-click="vm.locationRouting()">
        <img src="img/map_icon_xsm.png" class="wdth40px brdr_white borderradius_50 bg_white"/>
      </button>
    </div>
    <ion-scroll class="piceSec hdemescrl" scrollbar-y="false">
      <div ng-repeat="(key, value) in vm.pieceDetail">
        <div ng-if = "vm.delivery">
          <div class="row pdg1_4">
            <div class="col textalghn_center position_relative padding_0">
              <p  class="manifest_prdctcnt font_Futura position_absolute wdth100p mrgtop_3px">{{value.length}}x</p>
              <div  ng-if="(value[0].status) == 'readyToDeliver'" class="mrg_auto mrgtop27px"><img src="img/package_icon_xsm.png" class="width55p  wdth_resp flex_ctr" /></div> 
              <div  ng-if="(value[0].status) == 'delivered'" class="mrg_auto mrgtop27px"><img src="img/package_icon_deliv_xsm.png" class="width55p  wdth_resp" /></div> 
              <div  ng-if="(value[0].status) == 'notloaded'" class="mrg_auto mrgtop27px"><img src="img/load_scan_icon_xsm.png"class="width55p  wdth_resp" /></div> 
              <div  ng-if="(value[0].status) == 'pickup'" class="mrg_auto mrgtop27px"><img src="img/pup_scan_icon_xsm.png"class="width55p  wdth_resp" /></div>
              <div  ng-if="(value[0].status) == 'attempted'" class="mrg_auto mrgtop27px"><img src="img/attempt_scan_icon_xsm.png"class="width55p  wdth_resp" /></div>
              <div  ng-if="(value[0].status) == 'notAssigned'" class="mrg_auto mrgtop27px"><img src="img/not_assigned_icon_xsm.png"class="width55p  wdth_resp" /></div>
            </div>
            <div class="col col-75" ng-click="vm.navigation('{{value[0].Address}}'+','+'{{value[0].Address2}}'+','+'{{value[0].City}}'+','+'{{value[0].State}}'+','+'{{value[0].PostalCode}}')">
              <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname text_black  font_Dagny capitalize MRGBTM4PX">{{value[0].Contact | lowercase}}</p> 
              <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname text_black  font_Futura capitalize MRGBTM4PX">{{value[0].Contact | uppercase}}</p>  
              <p class=" text_black font_Futura capitalize font_size18px MRGBTM4PX">{{value[0].Address | lowercase}}{{value[0].Address2 | lowercase}}</p>
              <p class="font_Futura capitalize text_black font_size18px MRGBTM4PX"> {{value[0].City | lowercase}}&nbsp;{{value[0].State}}&nbsp;{{value[0].PostalCode}}</p>
            </div>
          </div>
        </div>
        <div ng-if = "vm.pickup">
          <div class="row pdg1_4" >
            <div class="col textalghn_center position_relative padding_0">
              <p  class="manifest_prdctcnt font_Futura position_absolute wdth100p mrgtop_3px ">{{value.length}}x</p>
              <div class="mrg_auto mrgtop27px flex_ctr"><img src="img/pup_scan_icon_xsm.png" class="width55p  wdth_resp"/></div>
            </div>
            <div class="col col-75" ng-click="vm.navigation('{{value[0].Origin.Address}}'+','+'{{value[0].Origin.Address2}}'+','+'{{value[0].Origin.City}}'+','+'{{value[0].Origin.State}}'+','+'{{value[0].Origin.PostalCode}}')">
              <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname text_black  font_Dagny capitalize MRGBTM4PX">{{value[0].Contact | lowercase}}</p> 
              <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname text_black  font_Futura capitalize MRGBTM4PX">{{value[0].Contact | uppercase}}</p> 
              <p class=" text_black font_Futura capitalize font_size18px MRGBTM4PX">{{value[0].Address | lowercase}}{{value[0].Address2 | lowercase}}</p>
              <p class="font_Futura capitalize text_black font_size18px MRGBTM4PX"> {{value[0].City | lowercase}}&nbsp;{{value[0].State}}&nbsp;{{value[0].PostalCode}}</p>
            </div>
          </div>
        </div>
        <div class="mandatory_paresnt" ng-if="value[0].SignatureRequirement === 'Required' && vm.SignatureShow == false">
         <span class="mandatory_text fontitalic fontbold">Mandatory:</span>
         <span class="mandatory_condition fontitalic">Adult Required.</span>
         <span><img src="img/signature_req_icon_xsm.png" class="mandatory_img"/></span>
       </div>
       <div class="mandatory_paresnt" ng-if="vm.SignatureShow == true">
         <span class="mandatory_text fontitalic fontbold">Mandatory:</span>
         <span class="mandatory_condition fontitalic">Adult Required.</span>
         <span><img src="img/signature_req_icon_xsm.png" class="mandatory_img"/></span>
       </div>
        <div class="notes_parent" ng-if = "vm.delivery">
          <p class="font16">Notes: {{value[0].Instruction}}</p>
        </div>
        <div class="notes_parent" ng-if = "vm.pickup">
          <p class="font16">Notes: {{value[0].Instruction}}</p>
        </div>
        <div class="notes_parent max_hgt50p">
          <p classs="">Barcode(s) {{value.length}}</p>
          <div ng-repeat="barcodes in value" class="line_hgt18px">
            <p class="TXTCLOR">{{barcodes.Barcode}}
            <span ng-if="barcodes.SignatureRequirement === 'Required'" ><img src="img/signature_req_icon_xsm.png" class="mandicn "/></span>
            <span ng-if="barcodes.Delivered === true" ><img src="img/package_icon_deliv_xsm.png" class="mandicn "/></span></p>
          </div>          
        </div>
      </div>
    </ion-scroll>
  </ion-content>

  <ion-footer-bar class="padding_0"  ng-if="vm.pickup">
    <button class="button button-full btmscan_img bg_color_denimblue bar-positive mrg_0px" ng-click="vm.pickUpScanRouting(vm.StopIdentifier)">
      <img src="img/scan_icon_xsm.png" class="scanicnwdth brdr_white borderradius_50 bg_white"/>
    </button>
  </ion-footer-bar>
  <ion-footer-bar class="padding_0" ng-if="((vm.loadrouting == true) && (vm.pickup != true))" ng-click="vm.loadScanRouting(vm.stopIdentifier)"> 
    <button class="button button-full btmscan_img bg_color_denimblue bar-positive mrg_0px">
      <img src="img/scan_icon_xsm.png" class="scanicnwdth brdr_white borderradius_50 bg_white"/>
    </button>   
  </ion-footer-bar>
  <ion-footer-bar class="padding_0" ng-if="vm.deliveryrouting" ng-click="vm.deliveryScan(vm.stopIdentifier)"> 
    <button class="button button-full btmscan_img bg_color_denimblue bar-positive mrg_0px">
      <img src="img/scan_icon_xsm.png" class="scanicnwdth brdr_white borderradius_50 bg_white"/>
    </button>   
  </ion-footer-bar>   
  <ion-footer-bar class="padding_0" ng-if="vm.attempteScanrouting" ng-click="vm.deliveryScan(vm.stopIdentifier)"> 
   <button class="button button-full btmscan_img bg_color_denimblue bar-positive mrg_0px">
     <img src="img/scan_icon_xsm.png" class="scanicnwdth brdr_white borderradius_50 bg_white"/>
   </button>   
 </ion-footer-bar> 
</ion-view>
