<ion-view cache-view="false">
<ion-content class="scan_container" overflow-scroll="false" scroll="false">
<div class="row height100p dsply_table padding_0">
	<div class="col maxwidth_100p scanner_section position_relative">
		<div class="scanner_hgt"><img src="img/barcode.png" class="barcode_img position_relative wdth100p" /></div> 
	</div>
	<div class="col maxwidth_100p position_relative report_section">
		<div class="position_relative dsply_block height100p padding_2p">
			<div class="last_scanned font16 fontbold fontitalic">Last Scanned:</div>
			<div class="row input_container">
				<div class="col-80">
					<input  class="input_wdth fontbold wdth100p height100p dsbleIp toUpper" ng-focus="vm.buttonChangeEvent()" ng-model="vm.lastScanItem" id="hide_skb"/>
				</div>
				<div class="col-20 wdth100p" ng-click="vm.detailPage(vm.lastScanItem)" ng-hide="vm.showAddButton">
					<button value="Detail" class="button button-small btn_detail text_white bg_color_denimblue bordernone wdth100p dsbleBtn">Detail</button>
				</div>
				<div class="col-20 wdth100p" ng-click="vm.adddetail(vm.lastScanItem)" ng-show="vm.showAddButton">
					<button value="Detail" class="button button-small btn_detail text_white bg_color_denimblue bordernone wdth100p dsbleBtn" >Add</button>
				</div>
			</div>
			<div class="mrg_bdr">
				<ul id="ldrprt_list" class="ul_bold height100p scansec">
					<li>Scanned: {{vm.scannedItemsLength}}/{{vm.totalBarcodesCountToScan}} piece(s)</li>
					<li ng-repeat="data in vm.scannedBarcode.slice().reverse() track by $index"> 
						<div><span ng-show="data.scantype == 'delivery'" class="cntr_txt">
							<img class="scantype_icn" src="img/delivery_scan_icon_xsm.png"/>
						</span>
						<span ng-show="data.scantype == 'pickup'" class="cntr_txt">
							<img class="scantype_icn" src="img/pup_scan_icon_xsm.png"/>
						</span>
						<span ng-show="data.scantype == 'location'" class="cntr_txt">
							<img class="scantype_icn" src="img/location_scan_icon_xsm.png"/>
						</span>
						<span ng-show="data.scantype == 'attempt'" class="cntr_txt">
							<img class="scantype_icn" src="img/attempt_scan_icon_xsm.png"/>
						</span>
						<span ng-show="data.scantype == 'load'" class="cntr_txt">
							<img class="scantype_icn" src="img/load_scan_icon_xsm.png"/>
						</span>
						<span ng-show="data.scantype == 'door'" class="cntr_txt">
							<img class="scantype_icn" src="img/door_tag_icon_xsm.png"/>
						</span>
						<span class="scandlists">*{{data.barcode | uppercase }}</span></div>
					</li>				
				</ul>
			</div>
		</div> 
	</div>
	<div ui-view name="dialer" class="hide-on-keyboard-open">
		<section class="wagon_wheel">
			<div class="_wheel">
				 <div class="">
					<div class="nav">
						<span class="left leftClick" ng-click="vm.rightClick()"><i></i></span>
						<span class="right rightClick" ng-click="vm.leftClick()"><i></i></span>
					</div>
					<div class="dialer">
						<div class="dialer_wrapper">
							<div id="" class="container swipeCont first">
							    <div class="elt one active" ng-click="vm.gotoScan('delivery'); $event.stopPropagation();" on-drag-right="onSwipeRightFirstButton()" on-drag-left="onSwipeLeftFirstButton()" on-swipe="onSwipeFirstButton()" on-touch="onSwipeFirstButton()">
							    	<img src="img/delivery_scan_icon_xsm.png">
							    	<p>Delivery Scan</p>
							    </div>
							    <div class="elt two active" ng-click="vm.gotoScan('pickup'); $event.stopPropagation();" on-drag-right="onSwipeRightSecondButton()" on-drag-left="onSwipeLeftSecondButton()" on-swipe="onSwipeSecondButton()" on-touch="onSwipeSecondButton()">				    	
							    	<img src="img/pup_scan_icon_xsm.png">
							    	<p>Pickup Scan</p>
							    </div>
							    <div class="elt three active" ng-click="vm.gotoScan('location'); $event.stopPropagation();" on-drag-right="onSwipeRightThirdButton()" on-drag-left="onSwipeLeftThirdButton()" on-swipe="onSwipethirdButton()" on-touch="onSwipethirdButton()">
							    	<img src="img/location_scan_icon_xsm.png">				    	
							    	<p>Location Scan</p>
							    </div>
							    <div class="elt four active" ng-click="vm.clearScan(); $event.stopPropagation();" on-drag-right="onSwipeRightFourthButton()" on-drag-left="onSwipeLeftFourthButton()" on-swipe="onSwipeFourthButton()" on-touch="onSwipeFourthButton()">
							    	<img src="img/clear_scan_icon_xsm.png">
							    	<p>Clear Scan</p>
							    </div>
							    <div class="elt five active" ng-click="vm.manifest(); $event.stopPropagation();" on-drag-right="onSwipeRightFifthButton()" on-drag-left="onSwipeLeftFifthButton()" on-swipe="onSwipeFifthButton()" on-touch="onSwipeFifthButton()">
							    	<img src="img/manifest_wheel_icon_xsm.png">
							    	<p>Back to Manifest</p>
							    </div>
							    <div class="elt six active" ng-click="vm.gotoScan('load'); $event.stopPropagation();" on-drag-right="onSwipeRightSixthButton()" on-drag-left="onSwipeLeftSixthButton()" on-swipe="onSwipeSixthButton()" on-touch="onSwipeSixthButton()">
							    	<img src="img/load_scan_icon_xsm.png">
							    	<p>Load Scan</p>
							    </div>
							    <div class="elt seven active" ng-click="vm.gotoScan('attempt'); $event.stopPropagation();" on-drag-right="onSwipeRightSeventhButton()" on-drag-left="onSwipeLeftSeventhButton()" on-swipe="onSwipeSeventhButton()" on-touch="onSwipeSeventhButton()">
							    	<img src="img/attempt_scan_icon_xsm.png">
							    	<p>Attempt Scan</p>
							    </div>						    
							</div>
						</div>
					</div>	
				</div>
			</div>
		</section>
	</div>
</div>
</ion-content>
</ion-view>
