<section class="wagon_wheel">
	<div class="_wheel">
		 <div class="">
			<div class="nav">
				<span class="left selectRightClick" ng-click="vm.selectRightClick()"><i></i></span>
				<span class="right selectLeftClick" ng-click="vm.selectLeftClick()"><i></i></span>
			</div>
			<div class="dialer">
				<div class="dialer_wrapper">
					<div id="" class="container swipeSelectCont first">
					    <div class="elt one active" ng-click="vm.gotoSelectScan('attempt')" on-drag-right="vm.onSelectRightFirstButton()" on-drag-left="vm.onSelectLeftFirstButton()" on-swipe="vm.onSelectFirstButton()" on-touch="vm.onSelectFirstButton()">
					    	<img src="img/attempt_scan_icon_xsm.png">
					    	<p>Attempt Scan</p>
					    </div>
					    <div class="elt two active" ng-click="vm.gotoSelectScan('delivery')" on-drag-right="vm.onSelectRightSecondButton()" on-drag-left="vm.onSelectLeftSecondButton()" on-swipe="vm.onSelectSecondButton()" on-touch="vm.onSelectSecondButton()">
					    	<img src="img/delivery_scan_icon_xsm.png">
					    	<p>Delivery Scan</p>
					    </div>
					    <div class="elt three active" ng-click="vm.gotoSelectScan('pickup')" on-drag-right="vm.onSelectRightThirdButton()" on-drag-left="vm.onSelectLeftThirdButton()" on-swipe="vm.onSelectThirdButton()" on-touch="vm.onSelectThirdButton()">
					    	<img src="img/pup_scan_icon_xsm.png">
					    	<p>Pickup Scan</p>
					    </div>
					    <div class="elt six active" ng-click="vm.manifest()" on-drag-right="vm.onSelectRightSixthButton()" on-drag-left="vm.onSelectLeftSixthButton()" on-swipe="vm.onSelectSixthButton()" on-touch="vm.onSelectSixthButton()">
					    	<img src="img/manifest_wheel_icon_xsm.png">
					    	<p>Back to Manifest</p>
					    </div>
					    <div class="elt seven active" ng-click="vm.gotoSelectScan('load')" on-drag-right="vm.onSelectRightSeventhButton()" on-drag-left="vm.onSelectLeftSeventhButton()" on-swipe="vm.onSelectSeventhButton()" on-touch="vm.onSelectSeventhButton()">
					    	<img src="img/load_scan_icon_xsm.png">
					    	<p>Load Scan</p>
					    </div>						    
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>