<ion-view class="bg_color_azure">
  <ion-nav-buttons side="right" >
    <div ng-click="vm.listViewRouting()" class="list_img"><img src="img/list_view_menu_xsm.png" class="seq_header position_relative"/> </div>   
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div id="map" class="hgt_35p wdth_100 fltleft" ng-show="vm.googleMapLoadRoute"></div>
    <img src="img/google_maps.jpg" class="map_wdth fltleft" ng-hide="vm.googleMapLoadRoute" />
    <div class="wdth100p"> 
      <hr class="hr_topline"/>
      <hr class="hr_bottomline">
    </div>        
    <div class="hgt_60p hdemescrl scroll_y" >
      <ion-list class="list_wdth height100p">
        <ion-item ng-repeat="(key, value) in vm.groupedSeqManifestView" class="row mrgtp5px pdgtop0px">
          <div ng-if="$index == 0" class="dsplyblk fltleft col-10 flex_ctr height100p mrgtp15px">
            <span id="onroute_seq" ng-style="{ 'font-size' : (($index+1) >99) ? '10px' : '15px' }" class="text_mischaka font15 fontbold fltright left14px seqview_onroute_count">{{$index +1}}</span>
            <img src="img/onroute.png" class="onroute_img"/>
          </div>
          <div ng-if="$index != 0" class="dsplyblk fltleft col-10 flex_ctr mrgbtm6px mrgtp15px">
            <img src="img/scheduled.png" class="scdled_img"/><span id="scheduled_seq" ng-style="{ 'font-size' : (($index+1) >99) ? '10px' : '15px' }" class="scdldtxt text_mischaka  fontbold position_absolute fltright left28px cntr_txt width_6p top43pc">{{$index +1}}</span>
          </div>
          <div class="fltleft col-90 pdglt_2p mrgtopn5px">
              <div>
                <div ng-if="$index == 0 && (vm.onRoute == true)" class="manifest_statetext font_Futura mrg_0px fontitalic text_color_denimblue lineheight2 stateIndicator" ><p class="mrgntp3px wdth30pc">On-Route<p></div>
                <div ng-if="$index == 0 && (vm.onRoute != true)" class="manifest_statetext font_Futura mrg_0px fontitalic text_color_denimblue lineheight2 stateIndicator" ><p class="mrgntp3px wdth30pc">Scheduled</p></div>
                <div ng-if="$index != 0" class="manifest_statetext font_Futura mrg_0px fontitalic lineheight2 stateIndicator" ><p class="mrgntp3px wdth30pc">Scheduled</p></div>
              </div>          
              <div class="bg_pumkin font_Futura row text_white seqviewtime fltright">
                <img src="img/alert_icon.png" class="fltleft height_20px"/>&nbsp;&nbsp;&nbsp;
                <p class="manifest_delivertime bg_pumkin font_Futura fontitalic text_white fltright">Deliver by  {{value[0].UTCExpectedDeliveryBy | date:'hh:mm a'}}</p>
              </div>
              <div class="row manifest_border">
                <div class="col textalghn_center position_relative padding_0">
                  <p class="manifest_prdctcnt font_Futura position_absolute wdth100p">{{value.length}}x</p>
                  
                    <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery' && (value[0].Attempted == false || value[0].Attempted == '') && (value[0].Assigned == true || value[0].Assigned == '')"  class="mrg_auto flex_ctr">
                      <img src="img/package_icon_xsm.png" class="menuimg martop_0 mrgtop_25px"/>
                    </div>
                    <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery' && value[0].Attempted != true"  class="mrg_auto flex_ctr">
                      <img src="img/load_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px"/>
                    </div> 
                  
                    <div ng-if="value[0].Type == 'pickup' && (value[0].Attempted == false || value[0].Attempted == '') && (value[0].Assigned == true || value[0].Assigned == '')" class="mrg_auto flex_ctr">
                      <img src="img/pup_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px"/>
                    </div>

                    <div ng-if="(value[0].Assigned == false) && (value[0].Assigned != '')" class="mrg_auto flex_ctr">
                      <img src="img/not_assigned_icon_xsm.png" class="menuimg martop_0 mrgtop_25px"/>
                    </div>
                    <div ng-if="value[0].Attempted == true" class="mrg_auto flex_ctr">
                      <img src="img/attempt_scan_icon_xsm.png" class="menuimg martop_0 mrgtop_25px"/>
                    </div>

                </div>
                <div class="col col-75" ng-click="vm.navigation('{{value[0].Address}}'+','+'{{value[0].Address2}}'+','+'{{value[0].City}}'+','+'{{value[0].State}}'+','+'{{value[0].PostalCode}}')">
                  <p ng-if="value[0].Barcode != value[0].StopIdentifier" class="manifestaddname txt_elipse font_Dagny fnt_16px capitalize">{{value[0].Contact | lowercase}}</p> 
                  <p ng-if="value[0].Barcode == value[0].StopIdentifier" class="manifestaddname txt_elipse font_Futura fnt_16px capitalize pdg_2px">{{value[0].Contact | uppercase}}</p> 
                  <p class="txt_elipse font_Futura fnt_14px capitalize"> {{value[0].Address | lowercase}}</p>
                  <p class="txt_elipse font_Futura fnt_14px capitalize"> {{value[0].City | lowercase}}&nbsp;{{value[0].State }}&nbsp;{{value[0].PostalCode}}</p>
                </div>
              </div>
             

              <div ng-if="value[0].showSignature" class="row PAD0CNT bg_white" >
                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div>
                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.routingToLoadScan(value[0].StopIdentifier,value[0].Instruction)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div>
                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.routingToPickUpScan(value[0].StopIdentifier,value[0].Instruction)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div>
                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                  <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length == 0">Piece Detail</span>
                  <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length > 0">Special</span>
                  </div>
                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr"ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                  <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length == 0">Piece Detail</span>
                  <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length > 0">Special</span>
                </div>
                <div class="col manifest_btn3 flex_ctr"><img src="img/signature_req_icon_xsm.png" class="width_26 brdr_white borderradius_50 bg_white" /></div>
              </div>
              <div ng-if ="!(value[0].showSignature)" class="row PAD0CNT bg_white" >

                <div ng-if="value[0].Loaded == true && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.deliveryScanRouting(value[0].StopIdentifier,value[0].Instruction,value[0].Type)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div>
                <div ng-if="value[0].Loaded == '' && value[0].Type == 'delivery'" class="col manifest_btn1 flex_ctr" ng-click="vm.routingToLoadScan(value[0].StopIdentifier,value[0].Instruction)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div> 

                
                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn1 flex_ctr" ng-click="vm.routingToPickUpScan(value[0].StopIdentifier,value[0].Instruction)">
                  <span class="manifest_btn2txt font_Calluna">Scan</span>
                </div>

                <div ng-if="value[0].Type == 'delivery'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'delivery')">
                <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length == 0">Piece Detail</span>
                <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length > 0" >Special</span>
                </div>
                <div ng-if="value[0].Type == 'pickup'" class="col manifest_btn2 flex_ctr" ng-click="vm.pieceDetails(value[0].StopIdentifier,'pickup')">
                <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length == 0">Piece Detail</span> 
                <span class= "manifest_btn2txt font_Calluna" ng-if="value[0].Instruction.length > 0" >Special</span>
                </div>
              </div>         
            </div> 
        </ion-item>
      </ion-list>
    </div> 
  </ion-content>
</ion-view>
