<div on-swipe-up="menuctrl.onSwipeUp()" class="swapup "  overflow-scroll="false">
	<ion-modal-view   class="slide-in-down "  on-swipe-up="menuctrl.onSwipeUpmodel()">
	<ion-content overflow-scroll="false" id="scrollhidden" class="position_relative dsply_table wdth100p height100p">
	<h5 class="d_name driver_name font_Dagny mrgtp32px">{{vm.driverName}}</h5>
	<h5 class="d_name driver_id">IC#{{vm.driverId}}</h5>									
	<div class="row">
		<div class="col">
			<div class="ctr_align mrgtop_40p">
				<img src="img/check_out_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white">
				<span class="manifest_count font_Futura" >{{vm.checkedOutPackages}}x</span>
			</div>
			<div class="ctr_align margin_top17p" >
				<img src="img/delivery_scan_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white">
				<span class="manifest_count font_Futura">{{vm.deliveredPackageCount}}x</span>
			</div>
			<div class="ctr_align margin_top17p" >
				<img src="img/attempt_scan_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white">
				<span class="manifest_count font_Futura">{{vm.atemptedPackage}}x</span>
			</div>
		</div>
		<div ng-show="vm.showDefultImage" class="col col-40 dsply_table  mrgtop_n5p"> <img ng-src="data:image/png;base64,{{vm.driverImage}}" class="driver_img borderradius_50"/>
			<div class="flex_ctr mrgtp_10px"><img src="img/package_icon_xsm.png" class="wdth28px">
			<span class="manifest_count font_Futura">{{vm.packagesInCustody}}</span>
		</div>
			<div class="flex_ctr driver_detail"><img src="img/route_icon_xsm.png" class="wdth_50 brdr_white borderradius_50 bg_white"></div>
		</div>
		<div ng-hide="vm.showDefultImage" class="col col-40 dsply_table  mrgtop_n5p"> <img ng-src="img/driver_Image.png" class="driver_img borderradius_50"/>
			<div class="flex_ctr mrgtp_10px"><img src="img/package_icon_xsm.png" class="wdth28px">
			<span class="manifest_count font_Futura">{{vm.packagesInCustody}}</span>
		</div>
			<div class="flex_ctr driver_detail"><img src="img/route_icon_xsm.png" class="wdth_50 brdr_white borderradius_50 bg_white"></div>
		</div>
		<div class="col">
			<div class="ctr_align mrgtop_n37p">
				<img src="img/undelivered_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white"><span class="manifest_count font_Futura">{{vm.undeliveredPackage}}x</span>
			</div>
			<div class="ctr_align mrgtop_15p">
				<img src="img/pup_scan_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white"><span class="manifest_count font_Futura">{{vm.pickUpPackage}}x</span>
			</div>
			<div class="ctr_align mrgtop_16p">
				<img src="img/not_assigned_icon_xsm.png" class="slidedown_icon brdr_white borderradius_50 bg_white"><span class="manifest_count font_Futura">{{vm.notAssignedPackage}}x</span>
			</div>
		</div>
	</div>
	<div class="wdth100p row mrgbtm0px">
		<label class="col col-10 prgrsCounter ">{{vm.Deliveredcount+vm.pickUpcount}}</label>
		<div class=" col col-80 progress-wrap progress mrg_auto" data-progress-percent="vm.animationLength">
			<div class="progress-bar progress wdth100p"><img src="img/truck_horiz_xsm.png" class="width_35"></div>
		</div>
		<label class="col col-10  prgrsCounter">{{vm.ckeckoutdata}}</label>
	</div>
	<div class="textalghn_center mrgtop10px">
		<div class="top_dots"><span></span><span></span><span></span></div>
	</div>
	<div> 
		<hr class="hr_topline"/>
		<hr class="hr_bottomline">
	</div>
</ion-content>
</ion-modal-view>
</div>



