<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="BeamAppServer">
        <property name="context-root" value="BeamAppServer"/>
    </wb-module>
</project-modules>
