@font-face{
	font-family: 'Calluna Sans Bold';
	src:url('../fonts/Calluna Sans Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Helvetica';
	src:url('../fonts/Helvetica.otf');
}
@font-face{
	font-family: 'Dagny Pro Bold';
	src:url('../fonts/Dagny Pro Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Futura PT Book';
	src:url('../fonts/Futura PT Book.ttf') format('truetype');
}
@font-face{
	font-family: 'signature';
	src:url('../fonts/signature.ttf') format('truetype');
}
$color_white : #fff;
$color_red : #cc2027;
$color_azure: #f1f2f2;
$color_transparent:transparent;
$color_black: black;
$color_denimblue:#1c75bc;
$color_manatee: #939598;
$color_raveen: #6D6E71;
$color_java: #259695;
$color_pigmentgreen: #038c45;
$color_pumkin: #f26522;
$color_mischka: #a7a9ac;
$color_Lavender : #EBF4FC;
$color_brown: #9B8679;
$color_darkbrown: #8b5e3c;
$color_darkblue: #576983;

$margin_center:0 auto;
$margin_20px: 20px;
$margin_0px: 0px;
$margin_top_2px: 2px;
$margin_top_8px: 8px;
$margin_3p: 3%;
$margin_top_10px: 10px;
$mrgnitmcntre: auto;

$display_block: block;
$display_table: table;
$display_none: none;
$display_inlineblock: inline-block;
$display_flex: flex;
$display_inlinetable: inline-table;


$width_25p: 25%;
$width_100p: 100%;
$width_44px: 44px;
$width_50p:50%;
$width_40px: 40px;  

$font_weight: bold;
$font_style: italic;

$font_size17px: 17px;
$font_size25px: 25px;
$font_size20px: 20px;
$font_size15px: 15px;
$font_size18px: 18px;
$font_size16px: 16px;
$font_size13px: 13px;
$font_size12px: 12px;
$font_size11px: 11px;
$font_size9px: 9px;
$font-wgt700: 700;

$line_height: 2;
$line_height0: 0;
$line_height8: 0.8;

$textalign_left: left;
$textalign_center: center;
$textalign_right: right;

$position_relative: relative;
$position_absolute: absolute;
$position_fixed: fixed;

$border_1px : 1px solid black;
$border:none;
$border_radius : 50%;

$top_10px: 10px;

$float_left:left;
$float_right:right; 

$box_shadow: none;

$padding_0: 0;
$padding_2: 2px;
$padding_8: 0px 8px;
$padding_10: 10px;
$padding_2p: 2%;
$padtpbm_5px: 5px 0px 5px 0px;

$height100p: 100%;
$height35px: 35px;
$height60px: 60px;
$height30px: 30px;
$height50p: 50%;


$overflow_scroll_y: scroll;
$no_bg_repeat: no-repeat;

$z_index: 1;

.bg_darkbrown{
	background: $color_darkbrown;
}
.bg_darkblue{
	background: $color_darkblue;
}

.bg_brown{
	background: $color_brown;
}

.scroll_y {
	overflow-y: $overflow_scroll_y;
}
.no_bg_repeat{
	background-repeat: $no_bg_repeat;
}

.wdth44px{
	width: $width_44px;
}
.wdth28px{
	width: 28px;
}
.wdth100p{
	width:$width_100p;
}
.height100p{
	height:$height100p;
}
.position_fixed{
	position: $position_fixed
}

.align_center{
	margin: 0 auto;
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: center;
}

.font17{
	font-size: $font_size17px;	
}

.scroll-bar-indicator {
	display: none !important;
}

.bordernone{
	border:$border !important;
}

.borderradius_50{
	border-radius : $border_radius;
}
.top_10px{
	top: $top_10px;
}

.headermenutext{
	color: $color_white !important;
	font-size: $font_size15px !important;
	font-weight: $font_weight !important;
	line-height: $line_height ;
}
.wraphidden {

	font-size: $font_size18px !important;
	text-overflow: initial !important;
	color: $color_black!important;
	white-space: pre-line !important;
}
.PAD0CNT{
	text-align: $textalign_center;
	padding:$padding_0;
}


.dsply_block{
	display:$display_block;
}
.dsply_table{
	display:$display_table;
}
.dsply_none{
	display:$display_none;
}
.dsply_inlineblock{
	display:$display_inlineblock;
}
.dsply_inlinetable{
	display:$display_inlinetable;
}

.fltleft{
	float:$float_left;
}
.fltright{
	float: $float_right;
}

.fontbold{
	font-weight: $font_weight;
}
.fontitalic{
	font-style: $font_style;
}
.font-weight700{
	font-weight: $font-wgt700;
}

.position_relative{
	position: $position_relative !important;
}
.position_absolute{
	position: $position_absolute !important;
}



.alighitem_center{
	align-items: center
}
.slide-in-down { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); } 
.slide-in-down.ng-enter, 
.slide-in-down > .ng-enter { -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms; transition: all cubic-bezier(.1, .7, .1, 1) 400ms; } 
.slide-in-down.ng-enter-active, 
.slide-in-down > .ng-enter-active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slide-in-down.ng-leave, 
.slide-in-down > .ng-leave { -webkit-transition: all ease-in-out 250ms; transition: all ease-in-out 250ms; }

.flex_ctr{
	display : flex !important;
	align-items : center;
	justify-content : center;
}


.font16{
	font-size: $font_size16px !important;
}
.font13{
	font-size: $font_size13px;
}


.text_mischaka{
	color: $color_mischka;
}
.text_white{
	color: $color_white !important;
}
.text_black{
	color: $color_black !important;
}


.page_btm{
	position: absolute;
	bottom: 0;
	top: 100%;
}
.bg_color_transparent{
	background: $color_transparent !important;
}

.bg_color_red{
	background: $color_red !important;
}
.bg_color_azure{
	background: $color_azure !important;
}
.bg_color_denimblue{
	background: $color_denimblue;
}

.bg_manatee{
	background: $color_manatee;
}
.bg_raveen{
	background: $color_raveen;
}

.bg_java{
	background: $color_java;
}
.bg_pigmentgreen{
	background: $color_pigmentgreen;
}
.bg_pumkin{
	background: $color_pumkin;
}
.bg_mischka{
	background: $color_mischka !important;
}
.bg_white{
	background: $color_white;
}
.bottom_0{
	bottom: 0;
}
.margin_top17p{
	margin-top: 17%;
}

.hr_dotline{
	border-top:1px dotted #fff;
	height:5px;
	width: $width_100p;
	margin: $margin_0px;
	background-color: #A8A9AD;
}
.hr_topline{
	background-color: #A8A9AD;
	margin: $margin_0px;
	border-bottom: 3px solid #A8A9AD;
}
.textalghn_center{
	text-align: $textalign_center;
}
.hr_bottomline{
	border:none;
	border-top:1px dotted #fff;
	height:5px;
	width:100%;
	margin: 0;
	background-color: #A8A9AD;
}
.popup{
	border-radius: 10px !important;
	width: 89% !important;
	border: 1px solid black!important;
}
.popup-body{
	font-size: 19px !important;
	font-weight: 500 !important;
}
.popup-buttons{
	width: 100% !important;
	margin: 0 auto !important;
}

.pdngrl_8px{
	padding: $padding_8;
}
.pdng_10px{
	padding: $padding_10;
}
.pdngtpbtm_5px{
	padding: $padtpbm_5px;
}
.mrgtp_8px{
	margin-top: $margin_top_8px;
}
.mrgtp_2px{
	margin-top: $margin_top_2px;
}
.mrgtp_10px{
	margin-top: $margin_top_10px;
}

.cntr_txt{ 
	text-align: $textalign_center;
}

.brdr_1px{
	border: $border_1px !important;
}
.scroll_y {
	overflow-y: $overflow_scroll_y;
}

.bg_Lavender{
	background-color: $color_Lavender;
}
.mrg_auto{
	margin: $margin_center;
}

.wdth_100{
	width: $width_100p;
}
.wdth_50{
	width: $width_50p !important;
}
.margin3p{
	margin:$margin_3p;
}
.height35px{
	height: $height35px !important;
}   
.height60px{
	height:$height60px !important;
}
.height30px{
	height: $height30px !important;
} 
.font_Calluna{
	font-family: Calluna Sans Bold;
}
.font_Helvetica{
	font-family: Helvetica;
}
.platform-ios10 .font_Helvetica{
	font-family: Futura PT Book;
}
.font_Dagny{
	font-family: Dagny Pro Bold;
}
.font_Futura{
	font-family: Futura PT Book;
}
.font_Signature{
	font-family: signature;
}
.z_index1{
	z-index:$z_index;
}
.padding_2p{
	padding: $padding_2p;
}
.brdr_white{
	border:2px solid #fff;
}
.padding_0{
	padding: $padding_0 !important;
}
.bg_pigmentgreen.activated{
	background: $color_pigmentgreen !important;
}

a{
	text-decoration: none;
}
.bg_color_denimblue.activated{
	background: $color_denimblue !important;
}
.bg_darkblue.activated{
	background: $color_darkblue !important;
}

.bg_java.activated{
	background: $color_java !important;
}
.theroot {
  height: 45%;
}
.font_size18px{
	font-size: $font_size18px;
}
.height50p{
	height: $height50p;
}
.visibility_hidden{
	visibility: hidden;
}
::-webkit-scrollbar {
   -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
   width: 12px;
}
::-webkit-scrollbar:horizontal {
   height: 12px;
}
::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, .5);
   border-radius: 10px;
}
::-webkit-scrollbar-track {
   background-color: #ffffff;
   border:1px solid;
}
.wdth40px{
    width: $width_40px;
} 
.capitalize {
  text-transform: capitalize !important;
}   
.text_color_denimblue{
	color: $color_denimblue !important;
}
.padding_tb{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.font12{
	font-size: $font_size12px;
}
.font15{
	font-size: $font_size15px;
}
::selection{
    background:transparent !important;
}
.font20{
	font-size:$font_size20px;
}
.height25px{
	height: 25px !important;
}
.font25{
	font-size:$font_size25px !important;
}
.lineheight2{
	line-height:$line_height;
}
.mrgtopn5px{
	margin-top: -5px;
}
.mrgnitmcntr{
	margin: $mrgnitmcntre !important;
}
.width90p{
	width: 90%;
}
#spinbubble svg {
  width: 19% !important;
  height: 85px !important;
}
.scanpopup .popup{
	top: 40% !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
} 
.dump_btn{
	margin: 5px auto;
}