 ul.loadrprt li {
    border: $border_1px;
    margin-bottom: 3px;
    padding: 3px 3px 1px 5px;
    line-height: 1;
    display: $display_flex
}

div.loadrprt div ul{
    margin: 0 0 0 14px;
}
ul.loadrprt li p{
    margin: auto 0;
}

ul.loadrprt li span{
   text-align: $textalign_center;
}

 ul.loadrprt{
    margin: 2%;
    width: 96%;
 }
.cntr_Circl{
    padding: 10.5px;
 }
  
.loadrprt_img {
  width: 40%;
}

.checkout{
  font-size: 18px; 
  line-height: $line_height;
  padding: $padding_0;
}

ul#status_icons {
  margin: $margin_center;
}

ul#status_icons li {
  float: $float_left;
  display: $display_flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin: auto 4.5px;
}

ul#status_icons li img {
  width: 37px;
  height: 37px;
}
 .delete_img {
  right: 6px;
}

.cnclIcn {   
  width: 40%;
  margin: -54% 0% 0 0%;
}

.top_dots{
  margin-top: 2px;
}

.conterCrcle {
  height: 170px;
  width: 170px;
  box-shadow: 6px 5px 6px 0px #ccc;
  font-size: 80px;
  display: $display_inlinetable;
  border: 8px solid #f8f8f8;
  margin-bottom: 10px;
}

.conterCrcle span{ 
  display: $display_inlineblock;
  margin: $margin_center;
  top: 40%;
  right: 20%;
}

.btn_loadscan { 
  padding: $padding_0;
  width: 37px;
}
.loadreprt_rpticn{
  height: 45px;
  width:100%;
  display: $display_flex;
  padding-top: 7px; 
}
.wdth_19p{
  width:19%;
}
.mrg_1px{
  margin:1px;
}
.btn_checkout{
    top:0 !important;
    bottom:0 !important;
    right:0 !important;
}
.mrg_2px{
   margin: -2px !important;
}
.width_40p{
    width:40px;
}
.brdrtop_white{
    border-top:5px solid #fff;
}

.round_brdr{
    box-shadow: 6px 5px 6px 0px #ccc;
    border: 8px solid #f8f8f8;
}

.circle-text {
    width:50%;
    margin: auto;
    
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:47%;
    line-height:1em;
    margin-top:-0.4em;
    text-align:$textalign_center;
    color:white;
}
.barcde_sec{
  height: 32% !important;
}
@media (min-width : 300px) and (max-width : 320px) {
ul#status_icons li{
  margin: auto 2.5px;
  font-size: 18px;
  }
}
@media (min-width : 300px) and (max-width : 420px) {

.circle-text div{
      font-size: 6.8em;    
  }
  .delete_img{
      right: 2px;
  }
 .circle-text {
    width: 70%;
  }
}

@media (min-width : 420px) and (max-width : 600px) {

.circle-text div{
      font-size: 6.5em;    
  }

  .circle-text {
    width: 70%;
  }
  ul#status_icons li {

    margin: auto 17px;
  }
}
@media (min-width : 600px) and (max-width : 710px) {

.circle-text div{
      font-size: 12em;    
  }
   ul#status_icons li {
    margin: auto 22px;
  }
  .circle-text {
    width: 65%;
    }
}

@media all and (min-width: 700px) {
  .circle-text div{
    font-size: 15em;  
    }

  .circle-text {
      width: 65%;
    }

  .cnclIcn{
    margin: -54% 26% 0 0%;
  }
  ul#status_icons li{

  margin: auto 35px;
  }
}

@media all and (min-width: 1024px) {
  .circle-text div{
      font-size: 25em;  
    }
    ul#status_icons li {
      margin: auto 40px;
  }
}
@media (min-width : 768px) and (max-width : 1024px) {
  circle-text {
        width: 65%;
      }

  .cnclIcn {
      margin: -93% 33% 0 0%;
      width: 61%;
  }
  .font28px{
      font-size:28px !important;
  }
  ul.loadrprt li {
      padding: 14px 3px 0px 10px;
      line-height: 1.5;
  }
  .conterCrcle {
      height: 344px;
      width: 344px;
      box-shadow: 6px 5px 6px 0px #ccc;
      font-size: 143px;
      display: inline-table;
      border: 8px solid #f8f8f8;
      margin-bottom: 10px;
      top: 40px;
      font-weight: bold;
  }
.loadrprt_img {
    width: 63%;
}
.btn_checkout {
    top: -26px !important;
    bottom: 0 !important;
    right: 0 !important;
    font-size: 30px !important;
    height: 69px;
}
.btn_loadscan{
   top: -26px !important;
    bottom: 0 !important;
    right: 0 !important;
    font-size: 30px !important;
    height: 69px;
}
.hr_bottomline {
    border-top: 3px dotted #fff  !important;
}
.conterCrcle span {
    display: $display_inlineblock;
    margin: 0 auto;
    top: 42%;
    right: 25%;
}
.font16 {
    font-size: 28px;
}
ul#status_icons li {
    font-size: 29px;
    margin: auto 27px;
}
ul#status_icons li img {
    width: 64px;
    height: 62px;
}
.loadreprt_rpticn{
    height: 65px;
  }
}

@media all and (orientation:landscape) {
.circle-text {
  width: 30% !important;
  }
.circle-text div {
  font-size: 5em !important;
  }
.cntr_Circl {
  padding: 7px important;
  }
}