.card{
	box-shadow: $box_shadow !important;
    border: $border !important;
    background: $color_transparent !important;
    margin: $margin_0px !important;
}
.card .item-content{
	background: $color_transparent !important;
	padding: padding_0 !important;
}
.cardlist .list{
	margin-top : 2% !important;
}
.manifest_border{
	border: $border_1px; 
	border-bottom: none;
	background: $color_white;
}
.manifest_prdctcnt{
	font-size: $font_size20px !important;
    font-weight: $font_weight !important;
    padding: 4px; 
    color:$color_black !important;
}
.manifestaddname{
	font-weight: $font_weight;
    font-size: $font_size20px !important;
    color: $color_black!important;
}
.manifest_btn1{
	text-align: $textalign_center;
	 padding:$padding_2;
	background:$color_denimblue;
	margin: 6px 0px 4px 2px;
}
.manifest_btn2{
	background: $color_java;
	margin: 6px 2px 4px 2px;;
	padding: $padding_2;
}
.manifest_btn2txt{
	font-size: $font_size15px;
	font-weight: 500; 
	line-height: 1.8;
	color: $color_white;
}
.manifest_btn3{
	text-align: $textalign_center;
	 padding: $padding_2;
	background: $color_pigmentgreen;
	margin: 6px 3px 4px 2px;
}
.btn:after{
	bottom:0px !important;
}
.width_40p{
	width: 40%;
}
.seqmap_img{
	top: 9px !important;
}
.btn_mapview{
	margin: $margin_0px; 
	line-height: $line_height0;
    min-height: 47px;
}
.seqbackgorund{
	background-color: $color_azure;
}
.list_wdth{
	width: $width_100p;
	float: $float_left;
	background-color: $color_azure;
	/*padding-right: 8px;*/
}
.list_wdth .item{
	background: $color_transparent !important;
	border: $border;
}
.gmnoprint{
		display: $display_none;
	}
	.gm-style div a{
		display : $display_none !important;
	}
.top_dots{
	margin-top: 2px;
	text-align: $textalign_center;

}
.top_dots span {
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 5px;
    padding: 1px;
    font-size: 29px;
    border: 2px solid #A8A9AD;
    position: $position_relative;
    margin-left: 2%;
    display: $display_inlineblock;
    background-color: #A8A9AD;

}
.manifest_statetext{
	float: $float_left; 
	color: #a7a9ac; 
	width: 30%; 
}
.manifest_delivertime{
	float:$float_right; 
}
.martop_0{
	margin-top: 0;
}
.mrgtp4px{
	margin-top: 4px;
}
.width_26{
	width: 26px;
}
.width_44p{
 	 width: 44px;
}
.width-85p{
	width:85%;
}
.hgt_56p{
    height:56%;
}
.hgt_60p{
	height:60%;
}
.hgt_35p{
	height:35%;
}
.mapholder{
	width: $width_100p;
	height: 89%; 
	float: $float_left;
	position:$position_absolute;
}
.padding_0{
	padding:$padding_0;
}
.filterby_text{
	line-height: 1;
	text-align: $textalign_right;
	padding-right: 12px;
}
.mrgtop2p{
	margin-top: 2.5%;
}
.mrgntp3px{
	position: $position_absolute;
	top: -3px;
}
.wdth30pc{
	width: 30%;
}
.mrg_0px{
	margin:$margin_0px !important;
}
.mrgt_25px{
	margin-top:25px;
}
.map_content{
	height:40%;
}
.maplist_content{
	top:48%;
}
.wdth_10p{
	width: 10%;
}   
.pdg_3px{
	padding: 3px;
} 
.mrg_lr10px{
	margin: 0 10px;
}
.txt_color_denimblue{
	color:$color_denimblue;
}
.pdglt_4p{
	padding-left:4%;
}
.pdglt_2p{
	padding-left:2%;
}
.mrgtop_15px{
	margin-top:15px;
}
.mrgtop_25px{
	margin-top:25px;
}
.height_20px{
	height: 20px;
}
.seqviewtime{
	text-align: $textalign_left;
	display: $display_flex;
	width: auto;
	padding: 10px 16px 6px 6px;
}

 .headermenutitle{
 	margin: 3px 4px !important;
 }
 
.mrgtopbtm{
	margin : 5px 0px;
}
.mrgtp15px{
	margin-top: 15px;
}
.mrgtp15p{
	margin-top: 15%;
}
.top43pc{
	top: 43%;
}
.onroute_img{
	margin: 10px 0 5px 0;

}
.scdled_img{
	margin: 13px 0 1px 0;;
}
.txt_elipse{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap !important;
	font-size: 18px !important;
	color: black !important;
	width: 95%;
}
.seq_header{
	width: 27px;
	margin: 3px 7px;
}
.stateIndicator{
	width: 26%;
    font-size: 15px;
}
.pdgtp10p{
	padding-top: 10px;
}
.scdltxt{
	position: relative;
	bottom: -2px;
}
div.spinner {
  margin: auto;
  position: absolute ;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top: 40%;
  text-align: center;
}

#spinrsec .scroll{
    height:100% !important;
}
.mrgtop12p{
	margin-top:12%;
}
.pdglft2px{
	padding-left: 2px;
}
.fnt17px{
	font-size: 17px;
}
.manifest_index{
	padding-top: 47px;
    width: 10%;
    float: left;
    text-align: center;
}
.padding1p{
	padding: 0% 1% !important;
}
.left14px{
	 left: 14px;
}
.left28px{
	 left: 26px;
}
.seqview_onroute_count{
	top: 44%;
    position: $position_absolute;
    left: 30px;
}

.width_35px{
	width: 35px !important;
}
.mrgtp5px{
	margin-top: 5px;
}
.pdg_2px{
	padding-top: 2px;
}
.width_6p{
	width: 6% !important;
}
@media (min-width : 315px) and (max-width : 380px){

	.scdled_img {
		height: 124px;
	}
	.onroute_img {
    	margin: 16px 0 0 0;
	}
	.stateIndicator{
		width: 27%;
    	font-size: 13px;
    	line-height: 2.6 !important;
	}
	.seqviewtime{
		font-size: 8px;
		font-size: 13.5px !important;
	}
	.manifest_delivertime{
		font-size: 13.5px !important;
	}

}
@media (min-width : 350px) and (max-width : 600px){
	.scdled_img {
		height: 110px;
	}
	.onroute_img {
   		height: 108px !important;;
	}
}
@media (min-width : 315px) and (max-width : 360px){

	.onroute_img {
		height: 124px;
	}
}

@media (min-width : 360px) and (max-width : 400px){
	onroute_img {
	    height: 108px;
	}
}

@media (min-width : 380px) and (max-width : 410px){
	
	.fnt_resp {
	 font-size:$font_size9px;
	}
	.onroute_img {
		height: 124px;
	}
	.scdled_img {
		height: 124px;
	}
	.stateIndicator{
		width: 27%;
    	font-size: 14px;
	}
}

@media (min-width : 400px) and (max-width : 600px){
	.maplist_content{
		top:46%;
	}
	.onroute_img{
		height: 124px;
	}
	.scdled_img {
		height: 130px;
	}
	.onroute_img {
    	margin: 16px 0 0 0;
	}
}
@media (min-width : 500px) and (max-width : 1024px){
	.mapholder{
		height: 92%;
	}
	.maplist_content{
		top:45%;
	}
}
@media (min-width : 800px) and (max-width : 1024px){
	.maplist_content{
		top:44%;
	}
}
@media all and (orientation:landscape) {
  .scdldtxt{
  		position: relative !important;
  		left: 13px !important;
  		margin-top: 5px !important;
  	}
  .seqview_onroute_count{
  		position: relative !important;
		margin-top: 5px;
		position: relative;
		left: 22px;
 	}
  .onroute_img {
		margin: 9px 0 5px -17px !important;
  	}
}