/*.logodiv{
  position: $position_absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:0;

}*/
.logoimgSec{
  left: 45%;
  top: 2px;
}
.headermenuimg {
  width: 35px;
  margin: auto;
  position: absolute;
  left: 45%;
  top: 0;
  bottom: 0; 
}

.platform-ios .headermenuimg {
  margin-top: 20px !important;
  margin-bottom : 0 !important;
  top : 5px !important;
}

.bar .title{
  display: none !important;
  -webkit-appearance: none;
}
.sidemenuimg{
  width: 25%;
  height: 48%;
  margin-top: 4%;
}

.headersidemenu{
  width: 16%;
  margin: $margin_center;
  display: $display_table;
  position: $position_relative;
  margin-left: 54%;
  margin-bottom: 1%;
}

.menubg_color .scroll{
  height: 100%;
}

.menubackgorund3 .item-content{
  background: $color_raveen !important;
}

.menubackgorund2 .item-content{
  background: $color_manatee !important;
}

.menubackgorund1 .item-content{
  background: $color_mischka !important;
}

.botomlist .list {
  bottom:0;
  position: $position_absolute !important;

}
.sidemenutext {
  font-size: 23px !important;
  margin: 4px !important;
  letter-spacing: 1px;
}
.menuimg{  
  height: 37px !important;
  float:$float_left !important;
  margin-top: -6px;
}
.swapup {
  width: $width_100p;
  height: 264px;
  position: $position_absolute;
  background: #DDD !important;
}
.d_name {
  text-align: $textalign_center;
  font-weight: $font_weight;
  font-size: 14px !important;
}
.progress {
  height: 15px;
  border-radius: 25px;
}
.prgrsCounter{
  text-align: $textalign_center;
    font-size: 15px;
}
.progress-wrap {
  background: #18A1D4;
  margin-top: 2%;
  overflow: hidden;
  position: $position_relative;
}
  .progress-bar {
    background: $color_white;
    left: 0;
    position: $position_absolute;
    top: 0;
  }
.driver_img{
  display: $display_table;
  margin: $margin_center;
}
.driver_id{
  margin-bottom: 15px !important;
  margin-top: $margin_0px !important;
}

.slidedown_icon{
  width: 40%;
}
.driver_name{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.manifestitem_img{
  margin-right: 23%;
}
.manifest_count{
  font-size: $font_size20px; 
  font-weight: $font_weight;
}
.driver_detail{
  margin-left: 44%;
  margin-top: -48%;
}
#scrollhidden{
  background: #ddd;
}
#scrollhidden .scroll{
  transform: translate3d(0px, 0px, 0px) scale(1) !important;
} 

.mrgtop_40p{
  margin-top: -40%;
}

.mrgtop_n5p{
  margin-top: -5%;
}

.width40p{
  width: 40%;
}

.mrgtop_n37p{
  margin-top: -37%;
}

.mrgtop_15p{
  margin-top: 15%;
}

.mrgtop_16p{
  margin-top: 16%;
}

.width_31{
  width: 31px;
  margin-top: -4px;
}
.width_35{
  width: 35px;
  height: 15px;
  margin-top: 0px;
  position: $position_absolute;
}
  
.width_45p{
  width: 45px;
}
.width_11p{
  width: 11%
}
.width_50p{
  width: 50px;
 }
.width_32p{
  width: 32%;
 }
 .mrgtp32px{
  margin-top: 32px !important;
 }
 .mrgbtm0px{
  padding-bottom: 0px !important;
 }
 .pdgtop0px{
  padding-top: 0px !important;
 }
 .mrgtop10px{
  margin-top: -10px;
 }
.popup-head {
  padding: 10px 10px 0px 10px !important;
  border-bottom : 0px !important;
 }
 @media (min-width : 310px) and (max-width : 420px) {
   .prgrsCounter{
      font-size: 13px;
  }
}