.btn_mrg{
	margin:$margin_0px !important;
	line-height: $line_height0;
}   
.pdg0px{
	padding:$padding_0 !important;
}
.max_wdth{
	max-width: $width_100p !important;
}
.wdth_20p{
	width:20%;
}
.mrg0px{
  margin: 0px !important;
}
.lne_hgt0px{
  line-height: 0 !important;
}
.mftCntx{
    padding-left: 4px;
    font-size: 18px;
}
.header_crcle{
  background: #fff !important;
  height: 12px;
  width: 12px;
  margin: auto;
}
.swipeArea {
	margin: 50px 50px;
  height: 50px;
  width: 300px;
  background-color: red;
}
.font15{
	font-size: 15px;
}
.wdth27pxl{
	width: 27px;
}
.wdth40pxl{
	width: 40px;
}
.pdrgt0p{
      padding: 1px 5px !important;
}
.scrollitems{
	overflow-y: auto;
}
.barcde_sec{
  height: 32% !important;
}
.btn_package{
	border-radius: 20px;
    width: 38%;
    line-height: $line_height0 !important;
    min-height: 30px;
}
.select_left{
	left:0;
	direction: ltr !important;
}
.border_right{
	border-right: 1px solid #fff;
}
.wdth_95p{
	width:95%;
}
.max_wdth select{
	border: 0 !important;
}
.mrg_2p{
	margin:2%;
}
.mrglft2px{
	margin-left: 2px;
}
.input_wdth60{
	width:60%;
	height: 27px;
}
.cancel_img{
	margin: -10px;
	z-index: 2;
}
.wdth_75p{
	width:75%;
}
.pdgrght_5p{
	padding-right: 5%;
}
.select_apperarence{
	-webkit-appearance:none;
	appearance:none;
}
.wdth_35px{
    width: 35%;
}
.wdth_36px{
    width: 36%;
}
.wdth_46px{
    width: 46px;
}
.select_icon{
    border-left: $border_1px;
    padding: 0 5px;
}
.wdth_55p{
	width: 55%;
}
.wdth_46p{
	width:46%;
}
.mrgt_3px{
	margin-top: -3px !important;
}
.brdr_left{
	border-left:none;
}
.mrgr_5px{
	margin-right: 5px;
}
.brdrds_0p{
	border-radius: 0;
}

.pickup_back_circle{
	width: 26%;
  height: 36%;
  margin: 9px 0 0 -16px !important;
}
.ctr_align{
	display:flex;
	align-items:center;
}
/*.vaas:after{
	content:"";
}
*/
.mrg_btm5p{
	margin-bottom: 5%;
}
ul.mnfcntList{
	height: 100px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    border: 1px solid;
    width: 14%;
    margin: 3px 0px;
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#box{
   position:absolute;
   width: 50%;
   height: 19%;
   top:170px;
   left:0;
   z-index:999999;
   overflow:auto;
   border: solid red 2px;
}
.ion-chevron-down:before{
	float: right;
	margin: 5px 4px;
}
ul.mnfcntList li{
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
	cursor: pointer;
}
ul.mnfcntList li:hover{
	background: #ccc;
}
.mapicon{
    position: $position_relative; 
    height: 22px;
}
.lnehgt16px{
  line-height:16px;
}
.cntrsec{
  width: 70%;
  float: $float_left;
}
.pd5px{
  padding: 0px 5px !important;
}
.txtaligncntr{
  text-align-last: center;
}
.pdg15px{
  padding: 0 0 0 27px !important;
}
.select-editable {
    position: relative;
    background-color: white;
    width: 80px;
    height: 27.5px;
 }
 .select-editable select {
     position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 75px;
    margin: 0;
    background: transparent;
    height: 27.5px;
    text-indent: 20px;
 }
 .select-editable input {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 55px;
    /* padding: 1px; */
    font-size: 14px;
    border: none;
    height: 21px;
    background: #fff;
 }
 .select-editable select:focus, .select-editable input:focus {
     outline:none;
 }
 .mxwdth_none{
     max-width: initial !important; 
 }
 .brdrclr_none{
      border-color: #000 !important;
 }
.lft20pcnt{
  left: 20% !important;
}
.boldtxt{
  font-weight: $font_weight !important;
}
.hgtauto{
  height: auto !important;
}
@media (min-width : 768px) and (max-width : 1024px) {
	.wdthmap_resp{
		width:50%;
	}
}
#customerid select {
  left: 0;
}
.item-select select {
  left: 0;
  direction:ltr;
}
.mrg_btm15p{
	margin-bottom : 15%
}
#scrlme::-webkit-scrollbar {
    width: 0px !important;
}/*
::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-left: 1px solid transparent !important;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
}*/