.hdemescrl::-webkit-scrollbar {
        width: 0px !important;
    }
.detail_gmaplog{
    margin: $margin_0px; 
    line-height: $line_height0;
    min-height: 47px;
}
.mandatory_paresnt {
    border: 1px solid;
    padding: 5px;
    margin: 2px 3%;
}
.mandatory_text{
    font-size: $font_size20px;
    margin: 9px;
}
.mandatory_condition{
    color: $color_pigmentgreen;
    font-size: $font_size20px;
}
.mandatory_img{
    width: 6%;    
    vertical-align: sub;
}
.notes_parent{
    border: 1px solid;
    margin: 8px 3%;
    padding: 2px;
    font-size: $font_size16px;
    font-weight: 500;  
    line-height: 1.1; 
   /* height: 14%;*/
    overflow-y: auto;
}
.btmscan_img{
    margin: $margin_0px; 
    line-height: $line_height0;
    min-height: 47px;
}
.map_wdth{
    width: $width_100p; 
    height: 40%; 
}
.mapSec{
    width: $width_100p; 
    height: 32%; 
}
.piceSec{
     height: 59%; 
}
.location_wdth{
    width: 44px;
}
.mrg5p{
    margin: 0% 5%;
}
.over_scroll{
    overflow-y: scroll; 
    height: 150px;
}
.TXTCLOR{
    color:$color_mischka;
}

.pdg1_4{
    padding: 1% 4%;
}
.mrgbtm_0px{
    margin-bottom: 0px;
}
.min_height44px{
    min-height: 44px;
}  
.max_hgt50p{
    max-height:50%;
} 
.hght52p{
    height:52%;
}
.MRGTP20px{
    margin-top: 20px !important;

}
.MRGBTM4PX{
    margin: 4.5px !important;
}
.mrgtop_3px{
    margin-top: 3px
}
.mrgtop27px{
    margin-top: 27px;
}
.width55p{
    width:55%;
}
.pac-container{
    top: 192px !important;
    width: auto !important;
}
.mandicn{
    margin: -1px 4px;
    width: 14px;
    display: inline-block;
    position: $position_relative;
}
.scanicnwdth{
    width: 40.5px;
}
.line_hgt20px{
    line-height: 18px;
}
@media (min-width : 250px) and (max-width : 315px){
    /*.notes_parent{
        height: 10%;
    }*/
    .fnt_16px{
        font-size:16px !important;
    }
    .fnt_14px{
        font-size:14px !important;
    }
}
@media (min-width : 550px) and (max-width : 745px){
    /*.notes_parent{
        height: 10% !important;
    }*/
}
@media (min-width : 320px) and (max-width : 568px){
    /*.notes_parent{
        height: 12%;
    }*/
    .fnt_16px{
        font-size:16px !important;
    }
    .fnt_14px{
        font-size:14px !important;
    }
}
@media (min-width : 350px) and (max-width : 600px){
    .map_wdth{
        height: 39.6%; 
    }
    .piceSec{
        height: 50%; 
    }
    .mapSec
    {
        height: 36.7%;
    }
}
@media (min-width : 600px) and (max-width : 745px){
    .mrgt_25px{
        margin-top:35px;
    }
    .manifest_prdctcnt{
        font-size:26px !important;

    }
}
@media (min-width : 500px) and (max-width : 590px){
    /*.notes_parent{
        height: 11% !important;
    }*/
    .wdth_resp{
        width:35% !important;
    }
    .mandatory_img{
        width:5%;
    }
}
@media (min-width : 591px) and (max-width : 700px){
   /* .notes_parent{
        height: 10% !important;
    }*/
    .wdth_resp{
        width:30% !important;
    }
    .mandatory_img{
        width:4%;
    }
}
@media (min-width : 701px) and (max-width : 1024px){
    /*.notes_parent{
        height: 9% !important;
    }*/
    .wdth_resp{
        width:25% !important;
    }
    .mandatory_img{
        width:3%;
    }
}