
.loc_name_sec{
    padding: 5px 0px !important;
    width: 95% !important;
    margin: auto !important;
}
.gobacksec{
     padding-top: 8px;
     margin-right: 12px; 
}
p.mrg1p{
    margin: 1% 1% !important;
    width: 60% !important;
}
.mnfstvalue{
    margin: 0px 30px;
    padding: 0px 10px;
    font-size: medium;
}
.drop_loc_sec{
    border: 1px solid !important;
    background: none;
}
.webkit_center{
    display: -webkit-inline-box;
}
.atmpt_bg
{
    background-color: #F7941E !important;
}
.drtag_clr{
   background-color:$color_brown !important;
}
.podsec{
    margin-left: 5px;
    width: 40%;
}
.drploc_box{
    font-size: 14px !important;
    background: transparent !important;
    cursor: default !important;
    padding-left: 4px !important;
    width:87%;
    margin: auto;
    float: $float_left;
}
.pod_box{
    font-size: 14px !important;
    background: transparent !important;
    cursor: default !important;
    padding-left: 4px !important;
}
.mnfst_val{
    width:13%;
}
.sigfootr{
    border-radius: 0 !important;
    margin-left: 2px !important;
}
.brdr_rad_none{
    border-radius: 0 !important;
}
.signplce_hldr{
    width: 100%;
    font-size: -webkit-xxx-large;
    color: #ccc;
    text-align: center;
    border: none;
    display: table;
    font-style: normal;
    margin: auto;
    position: $position_absolute;
    top: 50%;
}

.btmmrgn2px{
    margin-bottom: 2px !important;
}
hr#redbar{
    height: 2.5%;
    width: 94%;
    /* top: 2%; */
    position: relative;
    bottom: 30px;
    margin: auto;
}
.sigsection {  
    height: 60%;
    width: 95%;
    background: $color_white;
    margin: auto;
    border: 1px solid;
    overflow: hidden;
}
.bckcrcle {
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    margin-right: 0px;
    font-size: 0px;
    float: $float_left;
    position: relative;
    margin-top: 6%;
}
.padding_top_20px{
    padding-top: 20px !important;
}
.sigplchldr{
    position: $position_absolute;
    top: 45%;
    width: 203px;
    font-size: 47px;
    border: none;
    z-index: -1;
    right: 6%;
}
.sig_manifest{
    max-width: 5%;
    position: absolute;
    margin: -3px auto;
}
.canvas_parent{
    border: $border_1px; 
    margin: 6% 6% 0px -3%;
    height: 95%;
}
.doretag_img{
    width: 60%;
    height: 8%;
    font-size: 15px;
    line-height: 2.5;
    margin: 33% 0 0 -28%;
}
.sig_two_img{
    width: 17%;
    margin: 0.6% auto;
}
.mnfstval{
    margin: 10%;
}
.font_size15px{
    font-size: 15px;
}
.PDL10PX{
    padding-left: 10px !important;
}
.PDL14PX{
    padding-left: 14px !important;
}
.PDN5PX{
    padding: 5px 0px !important;
}
.brdr{
    border: 1px solid;
}
@media (min-width : 315px) and (max-width : 420px) {
    .drploc_box{
        font-size: 13px !important;
        width: 81%;
    }
    .pod_box{
        font-size: 13px !important;
    }
     .sig_two_img{
        min-width: 35%;
    }
}
@media (min-width : 320px) and (max-width : 450px) {
    .mnfstvalue {
        margin: 0px 5px;
        padding: 0px 8px;
        font-size: 13px;
    }
    .sig_manifest {
        max-width: 5%;
        position: absolute;
        margin: 1px -6px;
    }
}
@media (min-width : 450px) and (max-width : 600px) {
    .mnfstvalue{
        margin: 0px 15px;
        padding: 0px 10px;
        font-size: medium;
    }
    .sig_manifest {
        max-width: 5%;
        position: absolute;
        margin: 1px -6px;
    }
    .sig_two_img{
        min-width: 25%;
    }

}